/*estilo.css*/
h1{/*Titulo*/
font-family: 'Abril Fatface'; cursive; font-size: 60px;
color: #DC3D24; text-shadow: 0.5px 1.5px #ffffff;
}
/*Subtitulo*/
h2, h3, h4, h5, h6{
font-family: 'Anton'; cursive; font-size: 30px; 
color: #DC3D24;
margin-top: 5px;
margin-bottom: 15px;
}
/*Texto*/
body{
font-family: 'PT Sans'; background-color: #232B2B;
color: #ffffff; text-align: center;
}
.corpo{
	width: 960px; margin: auto;
}
a{color:#E3AE57}
.redes-sociais li{display: incline-block; margin: 0 5px;}
.redes-sociais li a{display: incline-block;}
.redes-sociais li span{width: 48px; height: 48px;
background-repeat: no-repeat; overflow: hidden;
text-indent: 7000px; display: incline-block;}

.linkedin{background-image: url('*../Img/linkedin.png');
-webkit-filter: grayscale(100%); filter: grayscale(100%);}
.linkedin:hover{-webkit-filter: grayscale(0%); filter: grayscale(0%);}
.gituhub{background-image: url('*../Img/github.png')}

.facebook{background-image: url('*../Img/Facebook.png')}

.devcard{background-image: url('*../Img/Devcard.png')}

